name: ci

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
        - platform: linux/amd64
          runner: ubuntu-latest
        - platform: linux/arm64
          runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    permissions: 
      packages: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}
            
      - name: Login to ghcr.io
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ matrix.platform }}
      
  release:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions: 
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{version}}
      
      - name: Generate changelog
        id: changelog
        uses: jaywcjlove/changelog-generator@v2.2.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filter-author: (dependabot|renovate\\[bot\\]|dependabot\\[bot\\]|Renovate Bot)
          filter: '[R|r]elease[d]\s+[v|V]\d(\.\d+){0,2}'
      
      - name: Get the changelog
        run: echo "${{ steps.changelog.outputs.changelog }}"

      - name: Check for pre-release
        id: check_prerelease
        run: |
          if [[ "${{ github.ref_name }}" == *"-beta"* ]]; then
            echo "prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "prerelease=false" >> $GITHUB_OUTPUT
          fi
        
      - name: get first tag
        id: tag
        run: |
          tags="${{ steps.meta.outputs.tags }}"
          echo "tag=$(echo "$tags" | head -n 1)" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: v${{ steps.meta.outputs.version }}
          tag: v${{ steps.meta.outputs.version }}
          prerelease: ${{ steps.check_prerelease.outputs.prerelease }}
          body: |
            # v${{ steps.meta.outputs.version }}

            ```sh
            docker pull ${{ steps.tag.outputs.tag }}
            ```

            ## Changelog

            ${{ steps.changelog.outputs.changelog }}

            See also: ${{ steps.changelog.outputs.compareurl }}